{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "linebreak-style": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "react/jsx-filename-extension": 0
  }
}
